<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:fragment="header" class="top-row">
		<a th:href="@{/}" class="logo"></a>
		<div class="spring"></div>
		<button type="button" class="account-control smooth-transition">Sign in</button>
	</header>
		
	<form th:fragment="product-search" th:action="@{/products}" action="products" method="get">
		<label class="search-control smooth-transition">
			<span class="search-control-icon bi bi-search"></span>
			<input class="search-control-input" type="search" placeholder="Find by EAN or product name" title="product search input" th:name="filter"/>
		</label>
	</form>
	
	<button th:fragment="sidebar-button" class="sidebar-button" th:onclick="${!isOpen}">
		<span class="bi bi-list"></span>
	</button>
	
	<div th:fragment="sidebar (selected)" class="sidebar smooth-transition" th:classappend="${isOpen} ? '' : 'hidden'">
		<a class="sidebar-item smooth-transition" th:href="@{/products/management}" th:classappend="${selected == 0} ? 'active' : ''">
			<span class="sidebar-item-icon bi bi-bag"></span>
			<span class="sidebar-item-text">Products</span>
		</a>
		<a class="sidebar-item smooth-transition" th:href="@{/suppliers/management}" th:classappend="${selected == 1} ? 'active' : ''">
			<span class="sidebar-item-icon bi bi-telephone"></span>
			<span class="sidebar-item-text">Suppliers</span>
		</a>
		<a class="sidebar-item smooth-transition" th:href="@{/categories/management}" th:classappend="${selected == 2} ? 'active' : ''">
			<span class="sidebar-item-icon bi bi-bookmark"></span>
			<span class="sidebar-item-text">Categories</span>
		</a>
	</div>
	
	<footer th:fragment="footer" class="footer">
		<span>© 2021, Lukáš Moravec, All rights reserved.</span>
	</footer>
</body>
</html>