<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:fragment="header" class="top-row">
		<a th:href="@{/}" class="logo"></a>
		<div class="spring"></div>
		<a type="button" class="account-control smooth-transition" th:href="@{/management/products}">Sign in</a>
	</header>
		
	<form th:fragment="product-search" th:action="@{/products}" action="products" method="get">
		<label class="search-control smooth-transition">
			<span class="search-control-icon bi bi-search"></span>
			<input class="search-control-input" type="search" placeholder="Find by EAN or product name" title="product search input" th:name="filter"/>
		</label>
	</form>
	
	<label th:fragment="sidebar-button" class="sidebar-button" for="sidebar-button-input">
		<span class="bi bi-list"></span>
	</label>
	
	<div th:fragment="sidebar (selected)" class="sidebar-container">
		<input class="sidebar-button-input" id="sidebar-button-input" type="checkbox"/>
		<label class="sidebar-background" for="sidebar-button-input"></label>
		<nav class="sidebar overflow-auto smooth-transition">
			<a class="sidebar-item smooth-transition" th:href="@{/management/products}" th:classappend="${selected == 0} ? 'active' : ''">
				<span class="sidebar-item-icon bi bi-bag"></span>
				<span class="sidebar-item-text">Products</span>
			</a>
			<a class="sidebar-item smooth-transition" th:href="@{/management/suppliers}" th:classappend="${selected == 1} ? 'active' : ''">
				<span class="sidebar-item-icon bi bi-telephone"></span>
				<span class="sidebar-item-text">Suppliers</span>
			</a>
			<a class="sidebar-item smooth-transition" th:href="@{/management/categories}" th:classappend="${selected == 2} ? 'active' : ''">
				<span class="sidebar-item-icon bi bi-bookmark"></span>
				<span class="sidebar-item-text">Categories</span>
			</a>
		</nav>
	</div>
	
	<a th:fragment="product-item (object, redirect)" class="list-item smooth-transition flex-1" th:href="${redirect}">
		<span class="list-item-info">
			<span class="list-item-main-text" th:text="${object.name}"></span>
			<span th:if="${object.ean != null}" class="list-item-secondary-text" th:text="${object.ean}"></span>
		</span>
	</a>
	
	<a th:fragment="list-item (object, redirect)" class="list-item smooth-transition flex-1" th:href="${redirect}">
		<span class="list-item-info">
			<span class="list-item-main-text" th:text="${object.name}"></span>
		</span>
	</a>
	
	<footer th:fragment="footer" class="footer">
		<span>© 2021, Lukáš Moravec, All rights reserved.</span>
	</footer>
</body>
</html>