<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:fragment="product-detail (product)" class="invisible-container">
		<h1 th:text="${product.name}"></h1>
		<span th:text="${product.description}"></span>
		<div class="row">
			<span>EAN: </span><span th:text="${product.ean}"></span>
		</div>			
				
		<div th:if="${product.category != null}">
			<div class="row">
				<span>Category: </span><span th:text="${product.category.name}"></span>
			</div>
		</div>
			
		<div th:if="${product.supplier != null}">
			<h2>Supplier</h2>
			<div class="row">
				<span>Name: </span><a th:text="${product.supplier.name}" th:href="@{/supplier/{id}(id=${product.supplier.id})}"></a>
			</div>
		</div>
	</div>
</body>
</html>