<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:fragment="product-detail (product)" class="invisible-container">
		<h1 th:text="${product.name}"></h1>
		<div class="row">
			<span th:text="${product.description}"></span>
		</div>
		<div class="row">
			<span>EAN: </span><span th:text="${product.ean}"></span>
		</div>			
				
		<div th:if="${product.category != null}">
			<div class="row">
				<span>Category: </span><span th:text="${product.category.name}"></span>
			</div>
		</div>
			
		<div th:if="${product.supplier != null}">
			<h2>Supplier</h2>
			<div class="row">
				<span>Name: </span><a th:text="${product.supplier.name}" th:href="@{/supplier/{id}(id=${product.supplier.id})}"></a>
			</div>
		</div>
	</div>
		
	<form th:fragment="product-input (categories, suppliers, action)" class="list" th:action="${action}" action=action method="post" th:object="${product}">
		<input class="form-input" type="text" placeholder="Name" th:field="*{name}"/>
		<input class="form-input" type="text" placeholder="Description" th:filed="*{description}"/>
		<input class="form-input" type="text" placeholder="EAN" th:filed="*{ean}"/>
		<button type="submit" class="primary-btn">Save</button>
		<button type="button" class="secondary-btn" onclick='javascript:window.history.back()'>Cancel</button>
	</form>
</body>
</html>