<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:fragment="supplier-detail (supplier)" class="invisible-container">
		<h1 th:text="${supplier.name}"></h1>
		<div class="row">
			<span th:text="${supplier.description}"></span>
		</div>
		<a th:href="'https://' + ${supplier.web}" th:text="${supplier.web}" target="_blank"></a>
		
		<div th:if="${supplier.address != null && supplier.address.line != ''}">
			<h3>Address</h3>
			<div class="row">
				<span th:text="${supplier.address.line}"></span>
			</div>
			<div class=row>
				<span th:text="${supplier.address.city + ','}"></span>
				<span th:text="${supplier.address.postalCode}"></span>
			</div>
			<span th:text="${supplier.address.country}"></span>
		</div>
	</div>
	
	<form th:fragment="supplier-input (action)" class="list" th:action="${action}" action=action method="post" th:object="${supplier}">
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
		<input class="form-input" type="text" placeholder="Name" th:field="*{name}"/>
		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">error</span>
		<input class="form-input" type="text" placeholder="Description" th:field="*{description}"/>
		<input class="form-input" type="text" placeholder="Line" th:field="*{address.line}"/>
		<div class="row flex-1">
			<input class="form-input flex-1" type="text" placeholder="City" th:field="*{address.city}"/>
			<input class="form-input" type="text" placeholder="Postal code" th:field="*{address.postalCode}"/>
		</div>
		
		<input class="form-input" type="text" placeholder="Country" th:field="*{address.country}"/>
		<span th:if="${#fields.hasErrors('web')}" th:errors="*{web}">error</span>
		<input class="form-input" type="text" placeholder="Web" th:field="*{web}"/>
		
		<button type="submit" class="primary-btn">Save</button>
		<button type="button" class="secondary-btn" onclick='javascript:window.history.back()'>Cancel</button>
	</form>
</body>
</html>