<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/images/barcode.svg"/>
     
	<title>500 - Product finder</title>
</head>
<body>
	<div class="index-layout">
		<div th:replace="fragments/common :: header"></div>
		<div class="fill-container">
			<h1>500 - Oops, something went wrong.</h1>
		</div>
	</div>
</body>
</html>