@import url('../css/icons/font/bootstrap-icons.css');

:root {
	--rounded-element: 4px;
	--rounded-container: 8px;
	--small: 768px;
	--medium: 992px;
	--large: 1200px;
}

:root, light-theme {
	--primary-bg-color: #ffffff;
	--primary-text-color: #1a1a1a;
	--primary-element-color: #00a499;
	--primary-element-hover-color: #1e2838;
	--primary-element-active-color: gray;
	--primary-element-text-color: white;
	
	--secondary-bg-color: #f5f5f5;
	--secondary-text-color: #ffffff;
	--secondary-element-color: #ffffff;
	--secondary-element-hover-color: #e5e5e5;
	--secondary-element-active-color: #cccccc;
	
	--transparent-text-color: #00a499;
	--transparent-element-color: transparent;
	--transparent-element-hover-color: #f5f5f5;
	--transparent-element-active-color: #dcdcdc;
	
	--alternative-bg-color: #1e2838;
}

html, body {
	background-color: var(--secondary-bg-color);
 	position: relative;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--primary-text-color);
}

.primary-bg {
	background: var(--primary-bg-color);
}

.flex-1 {
	flex: 1;
}

.overflow-auto {
	overflow: auto;
}

.smooth-transition {
	transition: 250ms;
}

 .top-row {
 	background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
 	flex-direction: row;
 	column-gap: 8px;
	height: 42px;
	padding: 8px;
 }
 
 .row .top-row {
 	flex: 1;
 }
 
 .top-row .logo {
 	display: block;
 	background:url(/images/vsbLogo.png) center; 
  	background-repeat: no-repeat;
  	background-size: contain;
  	min-width: 36px;
	height: 100%;
 }
 
.top-row .spring {
	flex: 1;
 }
  
 .top-row .account-control {
 	--account-button-size: 42px;
 	
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
 	
 	display: flex;
 	background-color: var(--transparent-element-color);
 	color: var(--primary-text-color);
 	text-decoration: none;
 	text-align: center;
 	font-size: medium;
 	padding: 0 16px;
 	align-items: center;
 	justify-content: center;
 	border: none;
 	min-width: var(--account-button-size);
 	width: 100%;
 	white-space: nowrap;
 	height: var(--account-button-size);
 	border-radius: calc(var(--account-button-size)/2);
 }
  
 .top-row .account-control:hover {
	background-color: var(--transparent-element-hover-color);
	color: var(--transparent-text-color);
 }
 
 .top-row .account-control:active {
	background-color: var(--transparent-element-active-color);
 }
  
  .form-input {
  	background: var(--secondary-element-color);
  	border: none;
  	padding: 8px;
  }
    
  .form-input:hover {
  	background: var(--secondary-element-hover-color);
  }
  
  .form-input:active {
  	background: var(--secondary-element-active-color);
  }
  
 .index-layout {
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	height: 100%;
 }
 
 .sidebar-view {
 	display: flex;
 	flex-direction: row;
 	height: 100%;
	flex: 1;
 }
 
 .sidebar-button {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background: var(--transparent-element-color);
 	width: 42px;
 	height: 42px;
 	margin: 8px;
 	border: none;
 	border-radius: var(--rounded-element);
 	z-index: 1000;
 }
 
 .sidebar-button:hover {
 	background: var(--transparent-element-hover-color);
	color: var(--primary-element-color);
 }
 

 .sidebar-button:active {
 	background: var(--transparent-element-active-color);
 }
  
 .sidebar-button-input {
 	display: none;
 }
 
 .sidebar-container {
 	position: absolute;
 	top: 58px;
 	width: 0;
	height: calc(100% - 74px);
 	z-index: 999;
 }
 
 .sidebar-background {
 	position: absolute;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	background: #0000009d;
 	display: none;
 	z-index: 997;
 }
 
 .sidebar {
 	position: relative;
 	background: var(--primary-bg-color);
 	display: flex;
 	flex-direction: column;
 	row-gap: 8px;
 	padding: 8px;
 	width: 256px;
 	height: 100%;
  	transform: translateX(-100%);
  	transition: all 200ms ease-out;
  	z-index: 998;
 }
 
 .sidebar-button-input:checked ~ .sidebar-background {
 	display: block;
 	position: fixed;
 }
 
 .sidebar-button-input:checked ~ .sidebar {
  	transform: translateX(0);
  	transition: all 200ms ease-out;	
 }
 
 .sidebar-item {
 	position: relative;
 	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 8px;
 	text-decoration: none;
 	color: var(--primary-text-color);
 	
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
 	border-radius: var(--rounded-element);
	padding: 12px 8px;
 }
 
.sidebar-item:hover {
	background: var(--secondary-element-hover-color);
	color: var(--transparent-text-color);
}

.sidebar-item:active {
	background: var(--secondary-element-active-color);
}

 .active {
 	background: var(--transparent-element-active-color);
 	color: var(--transparent-text-color);
 }
 
 .two-pane-view {
 	display: flex;
 	flex-direction: row;
 	column-gap: 8px;
 	padding: 8px;
 	flex: 1;
 }
 
 .two-pane-view .left-pane { 
 	flex: 1;
 }
 
 .two-pane-view .right-pane { 
 	flex: 1;
 }
 
 .container {
 	background: var(--primary-bg-color);
 	padding: 8px;
 	border-radius: var(--rounded-container);
 }
 
 .invisible-container {
 	padding: 8px;
 }
 
 .rounded-container {
 	border-radius: var(--rounded-container);
 }
 
 .index-container {
 	background:url(/images/indexSearchBg.jpg) center; 
  	background-repeat: no-repeat;
  	background-size: cover;
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	align-items: stretch;
 	justify-content: center;
 	padding: 24px 16px;
 	min-height: 100px;
 	min-height:25%;
 	height: 100%;
 }
 
 .fill-container {
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	height: 100%;
 }
 
 .login-container {
 	width: 280px;
    justify-content: center;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
 }
 
 .search-container {
 	background: var(--alternative-bg-color);
 	display: flex;
 	flex-direction: column;
 	align-items: stretch;
 	justify-content: center;
 	padding: 24px 16px;
 	height: 200px;
 }
 
 .search-control {
 	position: relative;
    display: flex;
    align-items: center;
 	border-radius: var(--rounded-element);
 	background: var(--secondary-element-color);
 	padding: 4px;
 }
 
.search-control:hover {
 	background: var(--secondary-element-hover-color);
 }
 
.search-control:active {
 	background: var(--secondary-element-active-color);
 }

.search-control-icon {
	padding: 0 8px;
}
 	
.search-control .search-control-input {
    background: transparent;
    padding: 8px 2px;
    width: 100%;
    border: none;
}

.search-control .search-control-input:focus {
    outline: none;
    box-shadow: none;
}

.btn-content:before {
	display: flex;
	text-align: justify;
}

.primary-btn {
 	-webkit-touch-callout: none; /* iOS  Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
	background: var(--primary-element-color);
	color: var(--secondary-text-color);
	font-size: larger;
	text-decoration: none;
	border: none;
	border-radius: var(--rounded-element);
	padding: 8px 16px;
	cursor: pointer;	
}

.primary-btn:hover {
	background: var(--primary-element-hover-color);
}

.primary-btn:active {
	background: var(--primary-element-active-color);
	color: var(--primary-text-color);
}

.secondary-btn {
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
	background: var(--secondary-element-color);
	font-size: larger;
	text-decoration: none;
	border: none;
	border-radius: var(--rounded-element);
	padding: 8px 16px;
	cursor: pointer;	
}

.secondary-btn:hover {
	background: var(--secondary-element-hover-color);
}

.secondary-btn:active {
	background: var(--secondary-element-active-color);
}

.transparent-btn {
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
	background: var(--transparent-element-color);
	font-size: larger;
	text-decoration: none;
	border: none;
	border-radius: var(--rounded-element);
	padding: 16px;	
	cursor: pointer;
}

.transparent-btn:hover {
	background: var(--transparent-element-hover-color);
	color: var(--primary-element-color);
}

.transparent-btn:active {
	background: var(--transparent-element-active-color);
}

.back-btn {
	margin: 4px;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.list-item-container {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.list-item-container .row {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.list-item-container .list-item-management {
	display: flex;
	column-gap: 8px;
	align-items: stretch;
	justify-content: center;
}

.list-item {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    
	display: flex;
	flex-direction: row;
	column-gap: 8px;
	background: var(--primary-bg-color);
	padding: 16px;
	border-radius: var(--rounded-element);
	color: var(--primary-text-color);
	text-decoration: none;
}

.list-item:hover {
	background: var(--secondary-element-hover-color);	
}

.list-item:active {
	background: var(--secondary-element-active-color);	
}

.list-item .list-item-info {
	display: flex;
	flex-direction: column;	
	row-gap: 8px;
}

.list-item .list-item-info .list-item-main-text {
	font-weight: bold;
}

.list-item .list-item-info .list-item-secondary-text {
	font-size: x-small;
}

.left {
	align-self: flex-start;
}

.right {
	align-self: flex-end;
}

.content {
	display: flex;
	flex-direction: column;	
	padding: 16px;
	flex: 1;
}

.overflow {
	overflow: auto;
}

.content .product-item {
	display: flex;
	flex-direction: row;
	column-gap: 8px;
	background: var(--primary-bg-color);
	padding: 16px;
	border-radius: var(--rounded-element);
	color: var(--primary-text-color);
	text-decoration: none;
}

.content .product-item:hover {
	background: var(--secondary-element-hover-color);	
}

.content .product-item:active {
	background: var(--secondary-element-active-color);	
}

.content .product-image {
	background: black;
	width: 56px;
	height: 56px;
}

.content .product-info {
	display: flex;
	flex-direction: column;	
	row-gap: 8px;
}

.content .product-info .product-name {
	font-weight: bold;
}

.content .product-info .product-ean {
	font-size: small;
}

.row {
	display: flex;
	flex-direction: row;
	column-gap: 8px;
}

.column {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.no-gap {
	row-gap: 0;
	column-gap: 0;
}

.center {
	align-items: center;
	justify-content: center;
}
	
.footer {
	display: flex;
	background: var(--primary-bg-color);
	min-height: 42px;
	padding: 8px;
	font-size: small;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
	
	.top-row .logo {
  		margin-left: 8px;
	}
	
	.index-container {
 		align-items: center;
 		min-height: 35%;
		height: 100%; 
	}
	
	.search-container {
		align-items: center;
	}
	
	.search-control {
		width: 420px;
	}
	
	.sidebar-button {
		visibility: hidden;
		display: none;
	}
	
	.sidebar-container {
		position: relative;
		display: flex;
		left: 0;
		top: 0;
		width: auto;
 		height: auto;
	}
	
	.sidebar {
		position: relative;
		width: 52px;
		height: auto;
		flex: 1;
		transform: translateX(0);
	}
	
	.sidebar-item {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 4px;
		padding: 8px;
	}
	
	.sidebar-item .sidebar-item-text {
		font-size: xx-small;
	}
	
	.hidden {
		left: 0;
	}
	
	.content {
		padding: 24px;
	}
	
	.footer {
		font-size: medium;
	}
}

@media only screen and (min-width: 992px) {
	
	.top-row {
		min-height: 58px;
	}
	
	.top-row .logo {
 		background: url(/images/vsbTUO.png) center; 
  		background-repeat: no-repeat;
  		background-size: contain;
  		margin-left: 0;
	  	min-width: 128px;
 	}
	
	.two-pane-view {
		padding: 16px;
	}
	
	.content {
		padding: 24px 124px;
	}
	
	.invisible-container {
		max-width: 512px;
	}
}

@media only screen and (min-width: 1200px) {
	.content {
		padding: 24px 256px;
	}
	
	.search-control {
		width: 560px;
	}	
	
	.index-container {
		min-height: 50%;
	}
	
	.two-pane-view {
		padding: 24px;
	}
		
	.sidebar {
		min-width: 200px;
		flex: 0;
	}
	
	.sidebar-item {
		flex-direction: row;
		justify-content: flex-start;
		column-gap: 8px;
		padding: 12px 8px;
	}
	
	.sidebar-item .sidebar-item-text {
		font-size: medium;
	}
	
}