<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/images/barcode.svg"/>
     
	<title>Product finder</title>
</head>
<body>
	<div class="index-layout">
		<div th:replace="fragments/common :: header"></div>
		<div class="search-container">
			<div th:replace="fragments/common :: product-search"></div>
			<!-- <button type="button"></button> -->
		</div>
		<div class="overflow">
		<div class="content list">
		
			<div th:if="${products.size() == 0}">Product not found.</div>
			<a class="product-item smooth-transition" th:each="product : ${products}" th:href="@{/product/{id}(id=${product.id})}">
				<!-- <span class="product-image"></span> -->
				<span class="product-info">
					<span class="product-name" th:text="${product.name}"></span>
					<span class="product-ean" th:text="${product.ean}"></span>
				</span>
			</a>
		</div>
		<div th:replace="fragments/common :: footer"></div>
		</div>
	</div>
</body>
</html>