<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="/css/app.css" rel="stylesheet" />
	    <link rel="icon" type="image/svg+xml" href="/images/barcode.svg"/>
     
		<title>Product finder - Management</title>
	</head>
	<body>
		<div class="index-layout">
			<div class="sidebar-view column no-gap">								
				<div class="row no-gap primary-bg">
					<div th:replace="fragments/common :: sidebar-button"></div>
					<div th:replace="fragments/common :: header"></div>
				</div>

				<div class="row no-gap overflow-auto flex-1">
					<div th:replace="fragments/common :: sidebar(selected=0)"></div>
												
					<div class="invisible-container column flex-1">
						<a class="primary-btn left smooth-transition" th:href="@{/management/product}">Create</a>
						<div class="list overflow-auto">
							<div sec:authorize="hasRole('ROLE_REVIEWER')" class="list-item-container" th:each="product : ${products}">
								<div class="row">
									<div th:replace="fragments/common :: product-item (object=${product}, redirect=@{/management/product/{id}(id=${product.id})})"></div>
									<div class="list-item-management smooth-transition">
										<a sec:authorize="hasRole('ROLE_REVIEWER')"  class="primary-btn list-item-management-edit" th:href="@{/management/product/edit/{id}(id=${product.id})}"><span class="bi bi-pencil-square"></span></a>
										<a sec:authorize="hasRole('ROLE_REVIEWER')"  class="primary-btn list-item-management-remove" th:href="@{/management/product/remove/{id}(id=${product.id})}"><span class="bi bi-trash"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>